.section {
    display: flex;
    padding-bottom: 138px;
    padding-top: 40px;
    position: absolute;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    /* justify-content: flex-start; */
    min-height: 0;
}


 p {
    font-size: .7rem;
    color: #00000099;
    margin: 1rem 0;
}
 p a {
    font-weight: 600;
}
a {
    color: #0a66c2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.center {
    display: flex;
    justify-content: center;
}

.container { 
    padding: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    position: absolute;
    width: 88%;
}

.nav {
    display: flex;
    width: 100%;
    /* position: relative; */
    justify-content: space-between;
    /* flex-wrap: nowrap; */
}


.hero {
    width: 100%;
    display: flex;
    /* position: relative; */
}
.hero>h1 {
    width: 50%;
    font-size: 77px;
    color: #2977c9;
    font-weight: 700;
    line-height: 80px;
    /* margin-left: auto; */
}
.hero>img {
    width: 800px;
    height: 800px;
    position: absolute;
    bottom: -2px;
    left: 40%;
    top: 10%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 15rem;
}

.JoinNow {
    border-color: #0a66c2;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
    padding: 3px 5px;
    color: #0a66c2;
    width: 110px;
    background-color: #fff;
}

.signin:hover{
    border: 2px solid transparent;
    color:#1567ba; 
    transform-style:(1.05);
}


.signin {
    border-color: #0a66c2;
    border-radius: 14px;
    cursor: pointer;
    /* margin-left: 1300; */
    font-size: 20px;
    padding: 3px 5px;
    color: #0a66c2;
    background-color: rgb(255, 255, 255);
    width: 110px;
    /* height: 30px; */
}

.JoinNow:hover{
    border: 2px solid transparent;
    color:#0a66c2; 
    transform-style:(1.05);
}

input {
  display: flex;
  margin-bottom: 1rem;
  padding: 10px 45px;
  border-radius: 1.5rem;
  font-size: 1.5rem;
}

.email{
    font-size: 20pxrem;
}

.input-signin{
    margin-top: 20px;
    font-size: large;
    font-style:initial
}


.login-button{
    padding: 15px 170px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);; 
}

.login-button:hover{
    border: 2px solid transparent;
    color:rgb(255, 255, 255);
    background-color: rgb(215, 62, 62);
    transform-style:(1.05);
}

.separator {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}
.separator h4 {
    padding: 0 1rem;
    font-size: 15px;
    font-weight: 300;
}
.separator .line {
    height: 1px;
    flex: 1;
    background-color: #c5c5c5;
}

.google-btn{
    padding: 15px 130px;
    border-radius: 30px;
    font-size: 15px; 
    background-color: rgb(0, 0, 0);
   color:rgb(255, 255, 255);; 
}

.google-btn .a{
margin-left: 10;
}


.google-btn:hover{
    border: 2px solid transparent;
    color:rgb(255, 255, 255);; 
    transform-style:(1.05);
    background-color: rgb(215, 62, 62);
    
}

.btn-google {
    height: 16px;
}